{% extends "base.html" %}

{% block title %}
Questions
{% endblock title %}

{% block content %}
<h1>Questions</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
          {% for line in questions %}
                <tr>
                    <td>{{ line.id}}</td>
                    <td>{{ line.submission_time}}</td>
                    <td>{{ line.view_number}}</td>
                    <td>{{ line.vote_number}}</td>
                    <td> <a href ="{{ url_for('get_question_page', question_id=line.id)}}"> {{ line.title}}</a></td>
                    <td>{{ line.message}}</td>
                    <td>{{ line.image}}</td>
                </tr>
            {% endfor %}
    </tbody>

</table>

<a href="{{ url_for('form') }}" class="btn btn-primary">Submit question</a>

{% endblock %}