<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<h1>Questions</h1>
<body>
<br />
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Submission_time</td>
            <td>View_number</td>
            <td>Vote_number</td>
            <td> Title </td>
            <td>Message</td>
            <td>Image</td>
        </tr>
    </thead>
    <tbody>
          {% for line in questions %}
                <tr>
                    <td>{{ line.id}}</td>
                    <td>{{ line.submission_time}}</td>
                    <td>{{ line.view_number}}</td>
                    <td>{{ line.vote_number}}</td>
                    <td> <a href ="{{ url_for('get_question_page', question_id=line.id)}}"> {{ line.title}}</a></td>
                    <td>{{ line.message}}</td>
                    <td>{{ line.image}}</td>
                </tr>
            {% endfor %}
    </tbody>
{#            <form action="{{ url_for('route_list') }}" method="POST">#}
{#                <button type="submit">Delete</button>#}
{#            </form>#}
</table>

</body>
</html>